<%- include('../partials/header') %>
<h1><%= manufacturer ? "Edit" : "New" %> Manufacturer</h1>
<form
  method="POST"
  action="<%= manufacturer ? '/manufacturers/' + manufacturer.id + '?_method=PUT' : '/manufacturers' %>"
>
  <label
    >Name: <input name="name" value="<%= manufacturer?.name || '' %>" /></label
  ><br />
  <label
    >Country:
    <input name="country" value="<%= manufacturer?.country || '' %>" /></label
  ><br />
  <label
    >Logo URL:
    <input name="logo_url" value="<%= manufacturer?.logo_url || '' %>" /></label
  ><br />
  <button>Submit</button>
</form>
<%- include('../partials/footer') %>
