<%- include('../partials/header') %>

<div class="all-cars-header">
  <div style="display: flex; gap: 1rem; align-items: center">
    <img src="<%= manufacturer.logo_url %>" alt="Logo" height="64px" />
    <h2><%= manufacturer.name %></h2>
  </div>
  <div style="display: flex; gap: 1rem">
    <button class="light" onclick="openEditManufacturerModal()">Edit</button>
    <form
      action="/manufacturers/<%= manufacturer.id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit" onclick="return confirm('Are you sure?')">
        Delete
      </button>
    </form>
  </div>
</div>

<div class="grid-container">
  <div class="grid">
    <% if (cars && cars.length) { %> <% cars.forEach(car => { %> <%-
    include('../partials/car-card', { car }) %> <% }) %> <% } else { %>
    <h3>This manufacturer has no cars.</h3>
    <% } %>
  </div>
</div>

<!-- Car Popup container -->
<%- include('../partials/car-popup') %>

<!-- Edit Modal -->
<%- include('./edit') %>
