<h1>Cars</h1>
<p><a href="/">Back to Home</a></p>
<ul>
  <% cars.forEach(car => { %>
  <li>
    <a href="/cars/<%= car.id %>"><%= car.name %></a> - Manufacturer: <%=
    car.manufacturer_name %> - Class: <%= car.class_name %> - Top Speed: <%=
    car.top_speed || 'N/A' %> - Acceleration: <%= car.acceleration || 'N/A' %> -
    Price: <%= car.price ? parseFloat(car.price).toFixed(2) : 'N/A' %> - Lap
    Time: <%= car.lap_time ? parseFloat(car.lap_time).toFixed(2) : 'N/A' %> -
    Seats: <%= car.seats || 'N/A' %> - Drivetrain: <%= car.drivetrain || 'N/A'
    %>
  </li>
  <% }) %>
</ul>
<a href="/cars/new">Add New Car</a>
