<%- include('../partials/header') %>
<h1><%= car ? "Edit" : "Add" %> Car</h1>
<form method="POST" action="<%= car ? '/cars/' + car.id + '?_method=PUT' : '/cars' %>">
  <label>Model: <input name="model" value="<%= car?.model || '' %>"></label><br>
  <label>Price: <input name="price" type="number" value="<%= car?.price || '' %>"></label><br>
  <label>Image URL: <input name="image_url" value="<%= car?.image_url || '' %>"></label><br>
  <label>Engine Power: <input name="engine_power" type="number" value="<%= car?.engine_power || '' %>"></label><br>
  <label>Weight: <input name="weight" type="number" value="<%= car?.weight || '' %>"></label><br>
  <label>Doors: <input name="doors" type="number" value="<%= car?.doors || '' %>"></label><br>
  <label>Drive Type: <input name="drive_type" value="<%= car?.drive_type || '' %>"></label><br>
  <label>Lap Time: <input name="lap_time" type="number" step="0.01" value="<%= car?.lap_time || '' %>"></label><br>
  <label>Top Speed: <input name="top_speed" type="number" value="<%= car?.top_speed || '' %>"></label><br>
  <label>Drag Coefficient: <input name="drag_coefficient" type="number" step="0.01" value="<%= car?.drag_coefficient || '' %>"></label><br>
  <label>Brake Force: <input name="brake_force" type="number" value="<%= car?.brake_force || '' %>"></label><br>

  <label>Manufacturer:
    <select name="manufacturer_id">
      <% manufacturers.forEach(m => { %>
        <option value="<%= m.id %>" <%= car?.manufacturer_id === m.id ? 'selected' : '' %>><%= m.name %></option>
      <% }) %>
    </select>
  </label><br>

  <label>Class:
    <select name="class_id">
      <% classes.forEach(c => { %>
        <option value="<%= c.id %>" <%= car?.class_id === c.id ? 'selected' : '' %>><%= c.name %></option>
      <% }) %>
    </select>
  </label><br>

  <button>Submit</button>
</form>
<%- include('../partials/footer') %>
