<%- include('../partials/header') %>
<h1><%= car.model %></h1>
<img src="<%= car.image_url %>" width="300" />
<img src="https://flagcdn.com/24x18/<%= car.country %>.png" />
<p>Manufacturer: <%= car.man_name %></p>
<p>Class: <%= car.class_name %></p>
<p>Price: $<%= car.price %></p>
<p>Engine Power: <%= car.engine_power %> HP</p>
<p>Weight: <%= car.weight %> kg</p>
<p>Top Speed: <%= car.top_speed %> km/h</p>
<p>Lap Time: <%= car.lap_time %> sec</p>
<p>Drive: <%= car.drive_type %></p>
<p>Doors: <%= car.doors %></p>
<p>Drag: <%= car.drag_coefficient %></p>
<p>Brakes: <%= car.brake_force %></p>

<a href="/cars/<%= car.id %>/edit">Edit</a>
<form action="/cars/<%= car.id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<%- include('../partials/footer') %>
