<%- include('../partials/header') %>
<h1><%= carClass ? "Edit" : "Add" %> Class</h1>
<form
  method="POST"
  action="<%= carClass ? '/classes/' + carClass.id + '?_method=PUT' : '/classes' %>"
>
  <label
    >Name:
    <input name="name" value="<%= carClass?.name || '' %>" required /> </label
  ><br />

  <label
    >Description:
    <textarea name="description">
<%= carClass?.description || '' %></textarea
    ></label
  ><br />

  <button>Submit</button>
</form>
<%- include('../partials/footer') %>
