<%- include('../partials/header') %>

<div class="all-cars-header">
  <div>
    <h1><%= carClass.name %></h1>
    <p><%= carClass.description %></p>
  </div>
  <div style="display: flex; gap: 1rem">
    <button class="light" onclick="openEditClassModal()">Edit</button>
    <form method="POST" action="/classes/<%= carClass.id %>?_method=DELETE">
      <button>Delete</button>
    </form>
  </div>
</div>

<!-- Edit Button -->

<div class="grid-container">
  <div class="grid">
    <% if (cars && cars.length) { %> <% cars.forEach(car => { %> <%-
    include('../partials/car-card', { car }) %> <% }) %> <% } else { %>
    <h3>This class has no cars.</h3>
    <% } %>
  </div>
</div>

<!-- Car Popup container -->
<%- include('../partials/car-popup') %>

<!-- Edit Modal -->
<%- include('./edit') %>
